
  /* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --dark-bg: #232323;
    --secondary-dark: #282828;
    --accent-color: #cdad4d;
    --gray-color: #aaaaaa;
    --font-1: 'Cormorant Garamond', serif;
    --font-2: 'Quicksand', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background-color: var(--dark-bg);
}
.image-gallery {
  margin-bottom: 15px; /*tsawr d nos realisation*/
}

iframe {
  width: 100%;       /* Responsive width */
  border: none;      /* Optional: removes the border */
  display: block;
  overflow: hidden; /* This hides the scrollbar */

}
#myIframe{
  height: 44.5px; /* Minimum height to start with */

}
#myIframe2{
  height: 304px; /* Minimum height to start with */

}
@media (max-width: 1025px) {
  #myIframe2 {
    height: 870px; /* Minimum height to start with */
  }
}

@media (max-width: 767px) {
  #myIframe {
      display: none;
  }
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 50px
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}

ul {
    list-style: none;
}

img {
    object-fit: cover;
}

section {
    background-size: cover;
    background-position: center;
}

button,
a[type="button"] {
    padding-inline: 2rem;
    padding-block: 0.7rem;
    border: 2px solid var(--accent-color);
    text-decoration: none;
    transition: all 0.5s;
    color: white;
}

a:hover {
    color: var(--accent-color) !important;
}

a {
    text-decoration: none;
}

.font-1 {
    font-family: var(--font-1);
}

.font-2 {
    font-family: var(--font-2);
}


.form input,
.form textarea {
    background-color: transparent;
    color: var(--accent-color);
    border-bottom: solid 1px #343434;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.form input:focus,
.form textarea:focus {
    background-color: transparent;
    color: var(--accent-color);
    border-bottom: solid 1px var(--accent-color);
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #cdad4d89;
}

.form .submit_form {
    padding-inline: 2rem;
    padding-block: 0.7rem;
    border: 2px solid var(--accent-color);
    text-decoration: none;
    transition: all 0.5s;
    color: white;
}

.nav-link {
    color: white;
    border-bottom: 2px solid var(--dark-bg);
    font-size: 1.125rem;
}

.nav-link:hover {
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

.nav-link.active {
    color: var(--accent-color) !important;
}

.nav-link:focus {
    color: var(--accent-color) !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-menu {
    background-color: var(--secondary-dark);
    border-radius: 0;
    border: none;
    padding: 0;
}

.dropdown-item {
    color: white;
    padding-block: 1rem;
}

.dropdown-item.active {
    color: white;
    background-color: #333;
}

.dropdown-item:hover {
    color: var(--accent-color);
    background-color: var(--secondary-dark);
}

.dropdown-item:focus {
    background-color: var(--secondary-dark);
    color: var(--accent-color);
}

.section {
    padding: 6em 2em 4em 2em;
    overflow: hidden;
}

.sectionAYMAN {
  padding: 6em 2em 0em 2em;
  overflow: hidden;
}
.headerz{
    background: #323232;

}
.r-container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;

}
.sectionAYMANZ {
  padding: 2em 2em 4em 2em;
  overflow: hidden;
}

.sectionAYMANZZ {
  padding: 1em 2em 0em 2em;
  overflow: hidden;
}
.bg-dark-color {
    background-color: var(--dark-bg);
}

.bg-dark-transparent {
    background-color: #232323b7;
}

.bg-secondary-dark {
    background-color: var(--secondary-dark);
}

.bg-accent-color {
    background-color: var(--accent-color);
}

.accent-color {
    color: var(--accent-color);
}

.border-accent-color {
    border-color: var(--accent-color);
}

.text-gray {
    color: var(--gray-color) !important;
}
.text-ayman {
  color: #ffffff !important;
  
}
.image-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.center-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deeev {
    margin: 5px;
    padding: 5px;
    /* other styles */
}
@media (max-width: 414px) {
    .d-none-mobile {
      display: none !important;
    }
  }
  header.header-5 .top-header .container-fluid {
    padding: 0;
  }
.top-header {
    background-color: rgba(8, 106, 215, 0.1);
    position: relative;
    z-index: 1;
    padding: 6px 50px;
  }
.image-overlay-2 {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0000007D 0%, var(--dark-bg) 95%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.image-overlay-3 {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #151515;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}



.image-overlay-bg {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.logo-container {
    max-width: 150px;
}

.divider {
    display: flex;
    align-items: center;
    width: 430px;
}

.divider::before {
    display: block;
    content: "";
    border-bottom: 0;
    flex-grow: 1;
    border-top: 8px solid var(--accent-color);
    max-width: 50px;
}

.divider-element {
    letter-spacing: 2px;
    flex-shrink: 0;
    flex-grow: 1;
    margin: 0;
    margin-left: 1rem;
    font-weight: 400;
}

.fs-very-large {
    font-size: 8.75rem;
}

.border-left-style {
    border-left: 15px solid var(--accent-color);
}

.social {
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
    font-size: larger;
}

.social .social-item a {
    color: var(--accent-color);
    cursor: pointer !important;
    transition: all 0.5s;
}

.social-item a:hover {
    color: white !important;
}

.image-gallery-container {
  position: relative;
  aspect-ratio: 1/1;
}

.image-gallery .image-gallery__image img {
  filter: grayscale(0%) brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
  transition: all 0.5s;
}

.image-gallery:hover .image-gallery__image img {
  filter: grayscale(100%);
}

.image-gallery__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scaleX(0);
  opacity: 0;
  transform-origin: right;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-gallery:hover .image-gallery__content {
  transform: scaleX(1);
  opacity: 1;
}


.card {
    border-top: 2px solid var(--accent-color);
}

@property --progress {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}

.reference-img {
  width: 100%;
  height: auto;
  max-width: 100px; /* Set a maximum width for the images */
  margin: 10px; /* Add some spacing between images */
}
.slick-slider {
  width: 80%; /* Adjust the width of the slider container */
  margin: 0 auto; /* Center the slider */
}
.row {
    height: 100%;
  }
@keyframes load {
    to {
        --progress: var(--value)
    }
}
header.header-2 .top-header {
    background-color: rgba(8, 106, 215, 0.1);
    position: relative;
    z-index: 1;
    padding: 6px 50px;
  }
  @media (min-width: 1600px) {
    header.header-2 .top-header {
      padding: 6px 255px 6px 255px;
    }
  }
  @media (max-width: 1199px) {
    header.header-2 .top-header {
      padding: 6px 30px;
    }
  }
  @media (max-width: 991px) {
    header.header-2 .top-header {
      background: #cdad4d;
      padding: 6px 15px;
    }
  }
  header.header-2 .top-header::before {
    position: absolute;
    content: "";
    height: 100%;
    background: #cdad4d;
    width: 714px;
    -webkit-clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
    top: 0;
    left: 0;
  }
  @media (max-width: 991px) {
    header.header-2 .top-header::before {
      display: none;
    }
  }
  header.header-4 .top-header {
    position: relative;
    z-index: 1;
  }
  @media (min-width: 1800px) {
    header.header-4 .top-header {
      border: 1px solid #37344e;
      margin: 0px 275px;
      padding: 10px 0px;
    }
  }
  header.header-4 .top-header .header-cta ul {
    margin: 0;
    padding: 0;
  }
  header.header-4 .top-header .header-cta ul li {
    display: inline-block;
    padding-right: 25px;
    position: relative;
    margin-right: 25px;
  }
  header.header-4 .top-header .header-cta ul li::before {
    position: absolute;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3);
    width: 2px;
    height: 20px;
    right: 0;
  }
  header.header-4 .top-header .header-cta ul li:last-child::before {
    display: none;
  }
  header.header-4 .top-header .header-cta ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
  }
  header.header-5 .top-header {
    z-index: 1;
    padding: 6px 50px;
    position: relative;
    background-color: #211e3b;
  }
  @media (min-width: 1600px) {
    header.header-5 .top-header {
      padding: 6px 191.5px;
    }
  }
  @media (max-width: 1199px) {
    header.header-5 .top-header {
      display: none !important;
    }
  }
  header.header-5 .top-header .container-fluid {
    padding: 0;
  }
  header.header-5 .top-header .header-cta ul {
    margin: 0;
    padding: 0;
    margin-right: -20px;
  }
  header.header-5 .top-header .header-cta ul li {
    margin-right: 20px;
    display: inline-block;
  }
  header.header-5 .top-header .header-cta ul li a {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
  }
  header.header-5 .top-header .header-cta ul li a i {
    margin-right: 10px;
    color: #cdad4d;
  }
  header.header-5 .top-header .header-right-cta {
    color: #cdad4d;
  }
  header.header-5 .top-header .header-right-cta .social-profile {
    margin-right: 25px;
  }
  header.header-5 .top-header .header-right-cta .social-profile a {
    color: #FFF;
    font-size: 14px;
    margin-left: 18px;
  }
  header.header-5 .top-header .header-right-cta .social-profile a:hover {
    color: #cdad4d;
  }
  header.header-5 .top-header .lan-select select {
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
  }
  header.header-4 .top-header .header-cta ul li a i {
    margin-right: 5px;
  }
  header.header-4 .top-header .header-right-cta {
    color: #5397e3;
  }
  @media (max-width: 991px) {
    header.header-4 .top-header .header-right-cta {
      color: #fff;
    }
  }
  header.header-4 .top-header .header-right-cta .social-profile a {
    color: #696969;
    margin-left: 15px;
    font-size: 15px;
  }
  header.header-4 .top-header .header-right-cta .social-profile a:hover {
    color: #cdad4d;
  }
  @media (max-width: 991px) {
    header.header-4 .top-header .header-right-cta .social-profile a {
      color: #fff;
    }
  }
  header.header-3 .top-header {
    background-color: #e6f0fb;
    padding: 14px 0px;
  }
  @media (max-width: 767px) {
    header.header-3 .top-header {
      padding: 10px 0px;
    }
  }
  @media (max-width: 767px) {
    header.header-3 .top-header .welcome-text {
      font-size: 13px;
    }
  }
  header.header-3 .top-header .welcome-text a {
    text-decoration: underline;
    color: #cdad4d;
    margin-left: 5px;
  }
  @media (max-width: 767px) {
    header.header-3 .top-header .welcome-text a {
      font-size: 13px;
    }
  }
  header.header-2 .top-header .header-right-cta {
    color: #5397e3;
  }
  @media (max-width: 991px) {
    header.header-2 .top-header .header-right-cta {
      color: #fff;
    }
  }
  header.header-2 .top-header .header-right-cta .social-profile a {
    color: #696969;
    margin-left: 15px;
    font-size: 15px;
  }
  header.header-2 .top-header .header-right-cta .social-profile a:hover {
    color: #cdad4d;
  }
  @media (max-width: 991px) {
    header.header-2 .top-header .header-right-cta .social-profile a {
      color: #fff;
    }
  }
header.header-2 .top-header .header-cta ul {
    margin: 0;
    padding: 0;
  }
  header.header-2 .top-header .header-cta ul li {
    display: inline-block;
    padding-right: 25px;
    position: relative;
    margin-right: 25px;
  }
  header.header-2 .top-header .header-cta ul li::before {
    position: absolute;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3);
    width: 2px;
    height: 20px;
    right: 0;
  }
  header.header-2 .top-header .header-cta ul li:last-child::before {
    display: none;
  }
  header.header-2 .top-header .header-cta ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
  }
  header.header-2 .top-header .header-cta ul li a i {
    margin-right: 5px;
  }
.col-12 {
    padding: 0;
  }
.r-progress {
    --value: 17;
    --progress-color: #cdad4d;
    --secondary-progress-color: #333333;
    --animation-duration: 2000;
}

.r-progress-bar {
    position: relative;
    height: 10px;
    background-color: var(--secondary-progress-color);
    display: flex;
    border-radius: 3px;
    overflow: hidden;
}

.r-progress-bar .progress-value {
    height: 100%;
    width: calc(var(--progress) * 1%);
    background-color: var(--progress-color);
    position: relative;
    border-radius: 3px;
    animation: load;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--animation-duration) * 1ms);
    animation-timing-function: linear;
    animation-delay: 500ms;
    color: black;
}

.r-progress-bar.percentage-label::after {
    counter-reset: percentage var(--progress);
    content: counter(percentage) '%';
    display: block;
    position: absolute;
    left: calc((var(--progress) * 1%) - 3rem);
    animation: load;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--animation-duration) * 1ms);
    animation-timing-function: linear;
    animation-delay: 500ms;
    color: white;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-2);
}
.sticky-top {
    z-index: 50000; /* Or any high value */
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
.image-absolute-1 {
    position: absolute;
    left: 60%;
    top: 40%;
}

.icon-box {
    max-width: 80px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cdad4d49;
    text-align: center;
}

.img-filter {
    filter: brightness(37%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.img-filter-1 {
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    transition: all 0.5s;
}

.img-filter-1:hover {
    filter: none;
}

.breadcrumb .breadcrumb-item a {
    color: var(--gray-color);
}

.breadcrumb .breadcrumb-item.active {
    color: var(--accent-color);
}

.min-vh-65 {
    min-height: 65vh;
}

.list-group .list-group-item {
    background-color: transparent;
    color: var(--gray-color);
    font-family: var(--font-2);
}

.maps {
    width: 100%;
    height: 400px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.caption {
    background: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .3) 70%, transparent);
}

form .form-label{
    color: var(--gray-color);
}

input.form-check-input {
    background-color: white;
}

.spacer{
    position: relative;
    width: 100%;
    height: 20px;
}

.fs-404{
    font-size: 19rem;
    font-weight: 700;
}
.swiper-container {
            width: 100%;
            height: 100vh; /* Adjust height as needed */
            position: relative;
        }

        .swiper-slide {
            background-size: cover;
            background-position: center;
        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
        }

        .breadcrumb-item a {
            color: white;
        }
@media only screen and (max-width:768px) {
    h1 {
        font-size: 68px;
    }

    h2 {
        font-size: 56px;
    }

    h3 {
        font-size: 36px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 14px;
    }

    .section {
        padding: 6em 0.5em 6em 0.5em;
    }

    .divider {
        width: 330px;
    }

    .fs-very-large {
        font-size: 3.125rem;
    }

    .image-absolute-1 {
        left: 45%;
        top: 35%;
    }

  }






  .iframe-container {
    background-color: #cdad4d; /* Your specified color */
    padding: 20px; /* Optional: Adjusts the space around the iframe */
    /* Additional styling as needed */
  }




  #background-section {
    position: relative;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.background-image.active {
    opacity: 1;
}













.image-gallery__content {
  text-align: center; /* This centers the text horizontally */
  display: flex; /* Enables Flexbox layout */
  flex-direction: column; /* Stacks items vertically */
  justify-content: center; /* Centers items along the vertical axis */
  height: 100%; /* Ensure the div takes full height of its parent */
}








/* Container styling */
.buttons-container {
  display: flex;        /* Use flexbox to align items */
  justify-content: center; /* Center items horizontally */
  align-items: center;  /* Center items vertically */
  gap: 20px;            /* Add space between buttons */
}

/* Button styling */
.download-button {
  padding: 1em 2em;    /* Add padding inside the buttons */
  background-color: var(--accent-color); /* Use the accent color for the button background */
  color: white;        /* Text color */
  text-decoration: none; /* Remove underline from links */
  font-family: var(--font-2); /* Use the Quicksand font */
  font-size: 1rem;     /* Set font size */
  border: none;        /* Remove border */
  cursor: pointer;     /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Transition for background color */
}

/* Button hover effect */
.download-button:hover {
  background-color: darken(var(--accent-color), 10%); /* Darken the button background on hover */
}

/* Media query for responsive layout */
@media (max-width: 768px) {
  .buttons-container {
      flex-direction: row; 
  }
}


.mobile-version {
  display: none;
}

@media screen and (max-width: 768px) {
  
  .desktop-version {
      display: none;
  }
  .mobile-version {
      display: block;
  }
}
  .bennani-lhbil{
    text-align: center;
}